<p>kids works!</p>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img class="img-cate" src="../../../assets/img/kids/k1.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../../assets/img/kids/k2.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../../assets/img/kids/k3.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img class="img-cate" src="../../../assets/img/kids/k4.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../../assets/img/kids/k5.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../../assets/img/kids/k6.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img onclick="" class="img-cate" src="../../../assets/img/kids/k7.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm">
            <img onclick="" class="img-cate" src="../../../assets/img/kids/k8.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div> 
        <div class="col-sm">
            <img onclick="" class="img-cate" src="../../../assets/img/kids/k9.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>    
    </div>
</div>
