table {
    width: 100%;
  }
  
  .title {
    text-align: center;
  }
  .buttons {
    width: 100%;
  }
  
  .image{
    width: 200px;
  }
  
  .line{
    cursor: pointer;
  }
  
  .search{
    background-color: white;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }