<h1 mat-dialog-title>Nuevo producto</h1>
<mat-divider></mat-divider><br>
<div mat-dialog-content class="dialog-content">
    <div class="osvi">
        <!-- [ngModel] me sirve para guardar datos de una propiedad de los modelos -->

        <p>
            <mat-form-field [style.width.px]=400 appearance="legacy" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" name="nameosvi" [(ngModel)]="producto.nombre">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field [style.width.px]=400 appearance="legacy" appearance="outline">
                <mat-label>Precio</mat-label>
                <input matInput type="number" name="nameosvi" [(ngModel)]="producto.precio">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field [style.width.px]=400 appearance="outline">
                <mat-label>Estatus</mat-label>
                <mat-select [(ngModel)]="producto.estatus.estatusId">
                    <mat-option>Seleccione una opción</mat-option>
                    <mat-option name="estatus" value="e.descriptions" *ngFor="let e of estatus" [ngValue]="e.estatusId">
                        {{e.description}}</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field [style.width.px]=400 appearance="outline">
                <mat-label>Categoria</mat-label>
                <mat-select [(ngModel)]="producto.categoria.categoriaId">
                    <mat-option>Seleccione una opción</mat-option>
                    <mat-option name="categoria" value="categoria.descriptions" *ngFor="let categoria of categorias"
                        [ngValue]="categoria.categoriaId">
                        {{categoria.descripcion}}</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p for="file">Choose file</p>
        <input type="file" accept=".jpg,.jpeg,.png" name="imageosvi"><br><br><br><br>

        <button mat-raised-button (click)="add()">Add</button><br><br><br>

    </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions class="dialog-button">
    <button mat-raised-button mat-dialog-close>Close</button>
</div>