<button mat-raised-button (click)="addProducto()">ADD</button>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img class="img-cate" src="../../../assets/img/woman/nike.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../../assets/img/woman/nike1.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../../assets/img/woman/nike2.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img class="img-cate" src="../../../assets/img/woman/nike3.png" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../../assets/img/woman/nike4.png" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../../assets/img/woman/nike5.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img onclick="" class="img-cate" src="../../../assets/img/woman/vans1.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
        
    </div>
</div>