<section id="home" class="home-page-content page-content">
    <section class="homepage-slider" tabindex="-1">

        <div class="homeCarousel flexslider" data-animation="fade" data-slideshowspeed="10000" tabindex="-1"
            aria-label="carousel" role="region">
            <ul class="slides" tabindex="-1">

                <li tabindex="-1"><a tabindex="-1"><img class="banner" src="../../assets/img/banner.jpg" alt="carousel"
                            tabindex="-1" /></a></li>

            </ul>
        </div>
    </section>

    <h1 class="titles">C A T E G O R I E S</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img class="img-cate" src="../../assets/img/mujer.jpg" alt="">
                <h1 class="font-cate">Woman</h1>
            </div>
            <div class="col-sm" id="img-cate">
                <img class="img-cate" src="../../assets/img/hombre.jpg" alt="">
                <h1 class="font-cate">Man</h1>
            </div>
            <div class="col-sm" id="img-cate">
                <img class="img-cate" src="../../assets/img/kids.jpg" alt="">
                <h1 class="font-cate">Kids</h1>
            </div>
        </div>
    </div>