<section id="home" class="home-page-content page-content">
    <section class="homepage-slider" tabindex="-1">
    
    <div class="homeCarousel flexslider" data-animation="fade" data-slideshowspeed="10000" tabindex="-1" aria-label="carousel" role="region">
    <ul class="slides" tabindex="-1">
    
    <li tabindex="-1"><a href="Menu_c_1.html" tabindex="-1"><img src="../../assets/img/snikears.jpg" alt="carousel" tabindex="-1" /></a></li>
    
    </ul>
    </div>
    
    </section>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img class="img-cate" src="../../assets/img/woman.jpg" alt="">
            <h3>WOMAN</h3>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../assets/img/man.jpg" alt="">
            <h3>MAN</h3>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../assets/img/kids.jpg" alt="">
            <h3>KIDS</h3>
        </div>
    </div>
</div>