.container {
    margin-top: 5%;
    overflow:hidden;
}
.container .img-cate:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.img-cate {
    width: 310px;
    height: 265px;
}
.banner {
    width: 1255px;
    height: 450px;
}
@font-face {
    font-family: Bodoni;
    src: url(../../assets/fonts/BodoniXT.ttf) format("truetype");
    font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: Dream;
    src: url(../../assets/fonts/dreamorphans.ttf);
    font-weight: normal;
    font-style: normal;
}
.titles {
    margin-top: 4%;
    font-family: 'Bodoni';
    color: #25253A;
    font-size: 70px;
    text-align: center;
}
.font-cate {
    font-family: 'Dream';
    color: #25253A;
    text-align: center;
    font-size: 30px;
}