<section id="home" class="home-page-content page-content">
    <section class="homepage-slider osvi" tabindex="-1">

        <div class="homeCarousel flexslider" data-animation="fade" data-slideshowspeed="10000" tabindex="-1"
            aria-label="carousel" role="region">
            <ul class="slides" tabindex="-1">

                <li tabindex="-1"><a tabindex="-1"><img class="banner" src="../../assets/img/banner.jpg" alt="carousel"
                            tabindex="-1" /></a></li>

            </ul>
        </div>
    </section>

    <h1 class="titles">C A T E G O R I E S</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm" routerLinkActive="active">
                <a [routerLink]='["/woman"]'>
                    <img class="img-cate" src="../../assets/img/woman.jpg" alt="">
                    <h1 class="font-cate">W o m a n</h1>
                </a>
            </div>
            <div class="col-sm" id="img-cate">
                <a [routerLink]='["/man"]'>
                    <img class="img-cate" src="../../assets/img/man.jpg" alt="">
                    <h1 class="font-cate">M a n</h1>
                </a>
            </div>
            <div class="col-sm" id="img-cate">
                <a [routerLink]='["/kids"]'>
                    <img class="img-cate" src="../../assets/img/kids.jpg" alt="">
                    <h1 class="font-cate">K i d s</h1>
                </a>
            </div>
        </div>
    </div>
    <li>
        <a [routerLink]='["/woman"]'>Encuesta</a>

    </li>