<p>man works!</p>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img class="img-cate" src="../../../assets/img/man/m1.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../../assets/img/man/m2.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../../assets/img/man/m3.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img class="img-cate" src="../../../assets/img/man/m4.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../../assets/img/man/m5.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm" id="img-cate">
            <img class="img-cate" src="../../../assets/img/man/m6.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img onclick="" class="img-cate" src="../../../assets/img/man/m7.jpg" alt="">
            <h1 class="font-cate"></h1>
        </div>
        <div class="col-sm">
            <img onclick="" class="img-cate" src="../../../assets/img/man/m8.png" alt="">
            <h1 class="font-cate"></h1>
        </div>    
    </div>
</div>